@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 微軟正黑體;
  height: 100%;
  background-color: #102438;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fz-72 {
  font-size: 4.5rem;
}

.fz-52 {
  font-size: 3.25rem;
}

.fz-36 {
  font-size: 2.25rem;
}

.fz-24 {
  font-size: 1.5rem;
}

.fz-14 {
  font-size: 0.875rem;
}

.containt {
  max-width: 1366px;
  width: 80%;
  margin: 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.5vw;
  margin-right: -0.5vw;
  font-family: 'Source Serif Pro', serif;
}

@media (max-width: 767.98px) {
  .card {
    margin-left: -1vw;
    margin-right: -1vw;
  }
}

.card-containt {
  position: relative;
  top: 0;
  width: calc(16.667% - 1vw);
  margin: 0.5vw;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1365.98px) {
  .card-containt {
    width: calc(20% - 1vw);
  }
}

@media (max-width: 1023.98px) {
  .card-containt {
    width: calc(25% - 1vw);
  }
}

@media (max-width: 767.98px) {
  .card-containt {
    width: calc(50% - 2vw);
    margin: 1vw;
  }
}

.card-containt--active .card-face__front {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card-containt--active .card-face__back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-containt:hover {
  top: -0.5vw;
}

.card-face {
  position: relative;
  padding-bottom: 133%;
}

.card-face__front, .card-face__back {
  background-color: #efefef;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-face__front .card-face__wrap, .card-face__back .card-face__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-face__front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-face__front--red {
  color: #ed4747;
}

.card-face__front--spades .card-face__corner:after,
.card-face__front--spades .card-face__symbol:after {
  content: "\02660";
}

.card-face__front--hearts .card-face__corner:after,
.card-face__front--hearts .card-face__symbol:after {
  content: "\02665";
}

.card-face__front--diamonds .card-face__corner:after,
.card-face__front--diamonds .card-face__symbol:after {
  content: "\02663";
}

.card-face__front--clubs .card-face__corner:after,
.card-face__front--clubs .card-face__symbol:after {
  content: "\02666";
}

.card-face__back .card-face__wrap {
  border: 2px solid #ed4747;
  background-image: -webkit-linear-gradient(150deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%), -webkit-linear-gradient(30deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%);
  background-image: -o-linear-gradient(150deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%), -o-linear-gradient(30deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%);
  background-image: linear-gradient(-60deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%), linear-gradient(60deg, transparent 40%, #ed4747 40%, #ed4747 60%, transparent 60%);
  background-size: 8px 8px;
}

.card-face__corner {
  position: absolute;
  font-weight: bold;
  text-align: center;
}

.card-face__corner--top {
  top: 10px;
  left: 10px;
}

.card-face__corner--bottom {
  bottom: 10px;
  right: 10px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.card-face__symbol {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-face__symbol--flip {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}

.card-face__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.tool {
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 9;
}

.timer, .controller {
  margin: 2rem 0;
}

.timer {
  color: rgba(255, 255, 255, 0.75);
}

.controller__button + .controller__button {
  margin-left: 0.5vw;
}

.controller__button {
  background-color: transparent;
  border: 2px solid;
  font: inherit;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 12.5px 20px;
  border-radius: 5vw;
  opacity: 0.75;
  color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.controller__button--start {
  border-color: orange;
  background-color: orange;
}

.controller__button--stop {
  border-color: #ed4747;
  background-color: #ed4747;
}

.controller__button--reset {
  border-color: black;
  background-color: black;
}

.controller__button:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */