<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>撲克牌卡牌遊戲｜Playing Card</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:600&amp;display=swap"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <div id="app">
      <main>
        <section>
          <div class="containt">
            <timer></timer>
            <cards></cards>
          </div>
        </section>
      </main>
    </div>
    <template id="cards">
      <div class="card">
        <div class="card-containt" v-for="(item, index) in cardsData" @click="selectHandler(item)" :class="item.active? 'card-containt--active' : ''">
          <div class="card-face">
            <div class="card-face__front" :class="['card-face__front--'+item.name, 'card-face__front--'+item.color]">
              <div class="card-face__wrap">
                <div class="card-face__corner card-face__corner--top fz-24">
                  <div class="card-num">{{item.text}}</div>
                </div>
                <div class="card-face__corner card-face__corner--bottom fz-24">
                  <div class="card-num">{{item.text}}</div>
                </div>
                <div class="card-face__center" v-if="item.symbols">
                  <div class="card-face__symbol" v-for="symbol in item.symbols" :style="'left:' + symbol.left +'; top:' + symbol.top + ';'" :class="[{'card-face__symbol--flip' : symbol.flip}, item.text === 'A'? 'fz-72' : 'fz-36'] "></div>
                </div>
                <div class="card-face__center" v-else="v-else">
                  <div class="card-face__text fz-52">{{item.text}}</div>
                </div>
              </div>
            </div>
            <div class="card-face__back">
              <div class="card-face__wrap"></div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template id="timer">
      <div class="timer fz-72">{{timeText.join(':')}}</div>
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>